out.*
adf_big.c
workbench_big.c
default.lua
lua.log
temp
BUGS.txt
TODO.txt
art
.DS_Store
*.dep
assets/P61.*
assets/*.gif
assets/*.save
bin
save
a.out
a.out.dSYM
tile.c.new
version/version.h
version/version.txt
gfx/
